# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Platform folders are generated in CI by `flutter create .`
# (commit them if you develop locally with Android Studio)
android/
ios/
linux/
macos/
windows/
web/
test/

# IDE
.idea/
*.iml
.vscode/
